{
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript",
        "semi": true
      }
    }
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
